.App-Product-Box {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background: linear-gradient(to right, #f8ede3, #fce1e4);
    color: #d86c7a;
    border: dotted;
}
button{
    padding: 10px;
    background: white;
    border-radius: 5px;
    border: dotted 1px pink;
    font-weight: bold;
    color: #d86c7a;
    margin-left: 0px;
}